*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(73, 71, 71),rgb(44, 41, 41));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 10px double rgb(53, 48, 46);
}

.container-resultado{
    background-color: rgb(85, 84, 84);
    padding: 5px;
    height: 40px;
}

.resultado{
    width: 100%;
    height: 100%;
    text-align: end;
}

.container-boton{
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.container-boton > button{
    width: 100%;
    height: 60px;
    border: 0;
    padding: 0;
    color: white;
    background-color: rgb(57, 54, 54);
    border-radius: 5px;
    cursor: pointer;
}

.container-boton > button:hover{
    background-color: rgb(72, 68, 68);
}